* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 15em;
    margin-right: 15em;
    border-style: inset;
    border-width: 1px;
}

.header {
    background-color: #BCBBBC;
    color: #ffffff;
    padding: 8px;
}

.relative {
    position: relative;
    left: 280px;
}