@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 70%;
  position: relative;
    top: 30px;
    left: 170px;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 1px solid #000000;
  padding: 20px;
  height: 30px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #000000;
}

.searchButton {
  position: absolute;
  right: -59px;
  width: 150px;
  height: 42px;
  border: 1px solid #000000;
  background: #ffffff;
  text-align: center;
  color: #000000;
  cursor: pointer;
  font-size: 15px;
}

.btn-group button {
    background-color: #ffffff; /* Green background */
    border: 1px solid lightgray; /* Green border */
    color: black; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: lightgray;
}

.btn-group button:focus {
    color: white;
    background-color: green;
}

#resultado {
    position: relative;
    top: 100px;
    left: -765px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


