{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
    Ficha Espacio
{% endblock %}

{% block extra_head %}
    {{ reserva_form.media }}
{% endblock %}

{% block content %}

    <div style="padding-left:50px; padding-right:50px;" class="mb-5">
        <h2>
            {{ espacio.nombre }}
            {% if user.esAdmin %}
                <a href="{% url 'Inventario:espacioUpdate' espacio.id %}"
                   class="btn btn-lg p-0 m-0 pl-1">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'Inventario:espacioDelete' espacio.id %}"
                   class="btn btn-lg p-0 m-0">
                    <i class="fas fa-trash"></i>
                </a>
            {% endif %}
            <span style="margin-left: 15px" class="badge
            {% if espacio.estado == DISPONIBLE %} badge-success
            {% elif espacio.estado == PRESTAMO %} badge-info
            {% elif espacio.estado == REPARACION %} badge-warning
            {% endif %}
        "><i class="fas fa-angle-left"></i> {{ espacio.get_estado_display }}</span>
        </h2>

        <div class="row mt-5">
            <div class="col-8">
                <div class="row justify-content-center align-items-center mb-5">
                    <div class="col-12 text-center">
                        <img class="img-thumbnail" src="{{ espacio.foto.url }}" alt="foto de {{ espacio.nombre }}"
                             style="width: 400px; height: 400px">
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-text textarea pl-2 pr-2 pt-1 pb-1 rounded mb-2">
                                    {{ espacio.descripcion }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Solicitar Reserva</h5>
                                <form action="{% url 'Inventario:reservaCreate' %}" method="post">
                                    {% csrf_token %}
                                    {% for field in reserva_form.hidden_fields %}
                                        {{ field }}
                                    {% endfor %}
                                    {% for field in reserva_form.visible_fields %}
                                        <div class="form-group row vertical-align">
                                            <label for="{{ field.id_for_label }}"
                                                   class="col-lg-3 col-form-label form-control-label">{{ field.label }}</label>
                                            <div class="col-lg-9">
                                                {% render_field field class="form-control" %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="row justify-content-end no-gutters">
                                        <button type="submit" class="btn btn-primary">Pedir</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Historial de Reservas</h5>
                                {% if reservas %}
                                    <ul style="list-style-type:disc">
                                        {% for reserva in reservas %}
                                            <li>
                                                {{ reserva.fechaReserva }} {{ reserva.horaInicio }}
                                                - {{ reserva.horaTermino }} : {{ reserva.get_estado_display }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p class="card-text">No se encontraron reservas</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
