{% extends 'base.html' %}
{% load static %}

{% block title %}
    Landing Page Usuario
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'Inventario/css/lpusuario.css' %}">
{% endblock %}

{% block content %}

    <div class="btn-group" style="width:100%">
        <button class="btn-group" style="width:50%" onclick="mostrarContenido(event, 'Articulo')">Artículo</button>
        <button class="btn-group" style="width:50%" onclick="mostrarContenido(event, 'Espacio')">Espacios</button>
    </div>

    <div id="Articulo" class="tabcontent">
        <form action="{% url 'Inventario:buscar' %}" method="GET">
            {% csrf_token %}
            <div class="search">
                <input name="q" type="text" class="searchTerm" placeholder="Busca un artículo">
                <button type="submit" class="searchButton">Buscar</button>
            </div>
        </form>

        {% for articulo in articulos %}
        <form action="articulo/{{ articulo.pk }}" method="GET">
            {% csrf_token %}
            <div class="button" id="resultado">
                {% if articulos %}
                <button type="submit">{{articulo.nombre}}</button>
                {% endif %}
            </div>
        </form>
        {% endfor %}
    </div>

    <div id="Espacio" class="tabcontent">
        <p>Buscar espacios</p>
    </div>

    <script src="{% static 'Inventario/js/lpusuario.js' %}"></script>

{% endblock %}
