{% extends 'base.html' %}
{% load static %}
{% load Inventario_filters %}

{% block title %}
    Perfil de Usuario
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'Inventario/css/perfilUsuario.css' %}">
{% endblock %}

{% block content %}

    <div class="row justify-content-center align-items-center">
        <div class="col-5">
            <a href="{% url 'Inventario:index' %}" class="btn btn-info btn-lg btn-block" role="button">Reserva Tu
                Espacio</a>
        </div>
        <div class="col-5">
            <a href="{% url 'Inventario:index' %}" class="btn btn-info btn-lg btn-block" role="button">Pide Tu
                Artículo</a>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-reservas-tab" data-toggle="pill" href="#pills-reservas" role="tab"
                   aria-controls="pills-reservas" aria-selected="true">Reservas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-prestamos-tab" data-toggle="pill" href="#pills-prestamos" role="tab"
                   aria-controls="pills-prestamos" aria-selected="false">Préstamos</a>
            </li>
        </ul>
        <input type="submit" form="form" value="Eliminar Seleccionados" class="col-2 btn btn-danger">
    </div>

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-reservas" role="tabpanel"
             aria-labelledby="pills-reservas-tab">
            <div class="row justify-content-center">
                <div class="col-4">
                    <form id="form" action="{% url 'Inventario:perfilUsuario' user.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="tipo" value="reservas">
                        <div class="list-group" id="list-tab-reservas" role="tablist">
                            {% for reserva in reservas %}
                                <a href="#list-reserva{{ reserva.id }}"
                                   class="list-group-item list-group-item-action
                                            {% if forloop.counter == 1 %}
                                                active
                                            {% endif %}"
                                   id="list-reserva{{ reserva.id }}-list" data-toggle="list" role="tab"
                                   aria-controls="reserva{{ reserva.id }}">
                                    {% if reserva.ultimoEstado.estado == PROCESO %}
                                        <input type="checkbox" name="lista" value="{{ reserva.id }}">
                                    {% endif %}
                                    {{ reserva|nombreItem }}
                                    <span class="badge
                                            {% if reserva.ultimoEstado.estado == PROCESO %} badge-info
                                            {% elif reserva.ultimoEstado.estado == ACEPTADO %} badge-success
                                            {% elif reserva.ultimoEstado.estado == RECHAZADO %} badge-danger
                                            {% endif %}">
                                        <i class="fas fa-angle-left"></i> {{ reserva.ultimoEstado.get_estado_display }}
                                        </span>
                                </a>
                            {% endfor %}
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <div class="tab-content" id="nav-reservas-tabContent">
                        {% for reserva in reservas %}
                            <div class="tab-pane fade {% if forloop.counter == 1 %} show active {% endif %}"
                                 id="list-reserva{{ reserva.id }}" role="tabpanel"
                                 aria-labelledby="list-reserva{{ reserva.id }}-list">
                                {{ reserva.articulo.descripcion }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="pills-prestamos" role="tabpanel"
             aria-labelledby="pills-prestamos-tab">
            <div class="row justify-content-center">
                <div class="col-4">
                    <div class="list-group" id="list-tab-prestamos" role="tablist">
                        {% for prestamo in prestamos %}
                            <a href="#list-prestamo{{ prestamo.id }}"
                               class="list-group-item list-group-item-action
                                            {% if forloop.counter == 1 %}
                                                active
                                            {% endif %}"
                               id="list-prestamo{{ prestamo.id }}-list" data-toggle="list" role="tab"
                               aria-controls="prestamo{{ prestamo.id }}">
                                {{ prestamo|nombreItem }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-6">
                    <div class="tab-content" id="nav-prestamos-tabContent">
                        {% for prestamo in prestamos %}
                            <div class="tab-pane fade show {% if forloop.counter == 1 %} show active {% endif %}"
                                 id="list-prestamo{{ prestamo.id }}" role="tabpanel"
                                 aria-labelledby="list-prestamo{{ prestamo.id }}-list">
                                {{ prestamo.articulo.descripcion }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'Inventario/js/perfilUsuario.js' %}"></script>
{% endblock %}
